.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.login{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0% 0% 0%;
}


.login .card .card-body .card-title{
  text-align: center;
}


.dashboard{
  color:black;
  margin: 8% 0% 0% 5%;
}

.dashboard .top .online label{
  margin-left:-2%;
}
.dashboard .d-flex.sum{
  text-align: center;
 
}
.dashboard .d-flex.sum span{
  font-size:20pt;
 
}
.dashboard .d-flex.live{
  margin: 5% 0% 0% 0%;
}


.dashboard .d-flex.single{
  margin: 5% 0% 0% 0%;
  text-align: center;
}


.dashboard .d-flex.profile{
  margin: 5% 0% 0% 0%;
  text-align: center;
}

.dashboard .d-flex.live #rating {
  text-align: center;
}
.dashboard .d-flex.live #rating svg{
  width: 4rem;
  height: 4rem;
  color:orange;
}
.dashboard .d-flex.live #rating
.dashboard .d-flex.single .card .card-body .card-text{
  justify-content: center;
  align-items: center;
  margin: 2% 0% 0% 0%;
}

.dashboard .d-flex.profile .card .card-body .card-text{
  justify-content: center;
  align-items: center;
  margin: 2% 0% 0% 0%;
}
.dashboard .d-flex.single .card .card-body .card-text .singleh{
  font-weight:bold;

}

.dashboard .d-flex.profile .card .card-body .card-text .singleh{
  font-weight:bold;

}
.dashboard .d-flex.single .card .card-body .card-text .singlet{
  font-weight:normal;

}

.dashboard .d-flex.profile .card .card-body .card-text .singlet{
  font-weight:normal;

}

.dashboard .d-flex.single .card .card-body .card-text.snap img{
  float:left;
  height:30rem;

}
.add{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0% -20% 20%;
}

.dashboard .new{
  margin-top:2%;
}
.dashboard .new .card.newcard{
  width:30rem;
  border:1px solid blue;
}


.dashboard .new  .newcard .accept{
  width:10rem;
  background-color:green;
  border:none;
  color:white;
  border-radius:2px;
}

.dashboard .new .newcard .decline{
  width:10rem;
  background-color:crimson;
  border:none;
  color:white;
  border-radius:2px;
  margin-left:5%;
}


.interface{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20% 0% 0% 0%;
}
.interface button{
  border:none;
  color:white;
  

}

.interface .ems{
  
  width:20rem;
  height:5rem;
  background-color:rgb(26, 99, 26);
  border:none;
  color:white;
  border-radius:5px;
  text-align: center;
}

.interface .admin{
  width:20rem;
  height:5rem;
  background-color:rgb(102, 38, 51);
  border:none;
  color:white;
  border-radius:2px;
  margin-left:5%;
  text-align: center;
}